<?xml version='1.0' encoding='utf-8'?>
<widget id="com.frenell" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>QC Tool</name>
    <description>A QC tool for controlling and calibrating a standard PCB.</description>
    <author email="yasmine.njim@frenell.de" href="https://www.frenell.de">
        Frenell IT Team
    </author>
    <content src="index.html" />
    <icon src="www/img/log.small.png" />   
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
<platform name="android">
    <splash src="res/screen/android/bluetooth.png" density="land-hdpi" />
    <splash src="res/screen/android/bluetooth.png" density="land-ldpi" />
    <splash src="res/screen/android/bluetooth.png" density="land-mdpi" />
    <splash src="res/screen/android/bluetooth.png" density="land-xhdpi" />
    <splash src="res/screen/android/bluetooth.png" density="land-xxhdpi" />
    <splash src="res/screen/android/bluetooth.png" density="land-xxxhdpi" />
    <splash src="res/screen/android/bluetooth.png" density="port-hdpi" />
    <splash src="res/screen/android/bluetooth.png" density="port-ldpi" />
    <splash src="res/screen/android/bluetooth.png" density="port-mdpi" />
    <splash src="res/screen/android/bluetooth.png" density="port-xhdpi" />
    <splash src="res/screen/android/bluetooth.png" density="port-xxhdpi" />
    <splash src="res/screen/android/bluetooth.png" density="port-xxxhdpi" /> 
</platform>
<preference name="SplashScreenDelay" value="2000" />
</widget>
