<ons-page id="canOutputs">
    <ons-toolbar style="background-color: #094860;">
      <div class="left">
        <ons-back-button>Back</ons-back-button>
      </div>
      <div class="center" id="toolbar-title" style="color:rgb(255, 255, 255);text-align: center;">Can Outputs</div>
      <div class="right">
        <ons-toolbar-button onclick='gohome();'>
          <span style="color: rgb(255, 255, 255);">
            <i class="fa-solid fa-home"></i>
          </span>
        </ons-toolbar-button>
      </div>
    </ons-toolbar>
    <p class="searchstyle">
      <ons-search-input
        placeholder="Search"
        onchange="ons.notification.alert('Searched for: ' + this.value)"
      ></ons-search-input>
    </p>
    <div style="margin-top: -64px; margin-left: 216px;"> <button class="button-srch">Search</button>
    </div>

    <div style="margin-top: 21px;margin-left: -35px;"> <button class="buttoptions">Filter</button>
      <button class="buttoptions">Stop</button>
      <button class="buttoptions">Clear</button>
    </div>
   

    
    <ons-list style="margin-top: 33px;">
      <ons-list-header>
        <ons-row style="color:#094860;">
          <ons-col style="flex: 1;">Date</ons-col>
          <ons-col style="flex: 1;">Type</ons-col>
          <ons-col style="flex: 1;">Priority</ons-col>
          <ons-col style="flex: 1;">ID</ons-col>
          <ons-col style="flex: 1;">Value</ons-col>
        </ons-row>
      </ons-list-header>
  
      <ons-list-item ng-repeat="item in items" ng-class="$index % 2 === 0 ? 'grey-row' : 'white-row'">
        <ons-row>
          <ons-col style="flex: 1;">value1</ons-col>
          <ons-col style="flex: 1;">value2</ons-col>
          <ons-col style="flex: 1;">value3</ons-col>
          <ons-col style="flex: 1;">value4</ons-col>
          <ons-col style="flex: 1;">value5</ons-col>
          <ons-col style="flex: 1;">value6</ons-col>
        </ons-row>
      </ons-list-item>
  
 
     <!--<ons-list-item ng-repeat="item in items" ng-class="$index % 2 === 0 ? 'grey-row' : 'white-row'">
        <ons-row>
          <ons-col style="flex: 1;">{{item.date}}</ons-col>
          <ons-col style="flex: 1;">{{item.type}}</ons-col>
          <ons-col style="flex: 1;">{{item.priority}}</ons-col>
          <ons-col style="flex: 1;">{{item.id}}</ons-col>
        </ons-row>
      </ons-list-item>
  
 --> 
</ons-list>
  <script>
   /** function fillTable() {
      // Define the data for the table
      var data = [
        { date: '2023-04-01', type: 'A', priority: 'High', id: '123' },
        { date: '2023-04-02', type: 'B', priority: 'Medium', id: '456' },
        { date: '2023-04-03', type: 'C', priority: 'Low', id: '789' }
      ];
  
      // Get a reference to the list element
      var list = document.querySelector('#canOutputs ons-list');
  
      // Clear any existing items
      list.innerHTML = '';
  
      // Add each item to the list
      data.forEach(function(item, index) {
        var template = `
          <ons-list-item class="${index % 2 === 0 ? 'grey-row' : 'white-row'}">
            <ons-row>
              <ons-col style="flex: 1;">${item.date}</ons-col>
              <ons-col style="flex: 1;">${item.type}</ons-col>
              <ons-col style="flex: 1;">${item.priority}</ons-col>
              <ons-col style="flex: 1;">${item.id}</ons-col>
            </ons-row>
          </ons-list-item>
        `;
        list.insertAdjacentHTML('beforeend', template);
      });
    }
  
    fillTable();


**/



    /*****
     * var data = [  
  {date: '2023-04-01', type: 'A', priority: 'High', id: '123'},  
  {date: '2023-04-02', type: 'B', priority: 'Medium', id: '456'},  
  {date: '2023-04-03', type: 'C', priority: 'Low', id: '789'}
];

// Get a reference to the table element
var table = document.getElementById('my-table');

// Create the table header
var header = table.createTHead();
var row = header.insertRow();
var headers = ['Date', 'Type', 'Priority', 'ID'];
for (var i = 0; i < headers.length; i++) {
  var cell = row.insertCell(i);
  cell.innerHTML = headers[i];
}

// Create the table body
var tbody = table.createTBody();
for (var i = 0; i < data.length; i++) {
  var row = tbody.insertRow();
  var cell1 = row.insertCell(0);
  var cell2 = row.insertCell(1);
  var cell3 = row.insertCell(2);
  var cell4 = row.insertCell(3);
  cell1.innerHTML = data[i].date;
  cell2.innerHTML = data[i].type;
  cell3.innerHTML = data[i].priority;
  cell4.innerHTML = data[i].id;
}
     * 
     * 
     * 
     * ****/
  </script>
   </ons-page>