.bluetooth-page {
    background-color: #094860 !important;
    background-image: linear-gradient(to bottom, #094860, #2587b8) !important;
  }
  .ble-img {
    animation: pulse 8s ease-in-out infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(0.9);
    }
  
    50% {
      transform: scale(1.2);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  #bluetooth-icon {
    width: 50px;
    height: 50px;
    animation: pulse 2s ease-in-out infinite;
    transform-origin: center;
  }
  
  .device-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .device-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .device-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  .device-name {
    font-size: 20px;
  }
  
  
  .icon-ble-scan {
    font-size: 50px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  #outerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    padding-top: 50px;
  }
  #container {
    width: 600px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    padding-top: 50px;
  }
  
  .circle {
    border-radius: 50%;
    background-color: deepskyblue;
    width: 150px;
    height: 150px;
    position: absolute;
    opacity: 0;
    animation: scaleIn 4s infinite cubic-bezier(.36, .11, .89, .32);
  }
  
  .item {
    z-index: 100;
    padding: 5px;
  }
  
  .item img {
    width: 150px;
  }
  
  @keyframes scaleIn {
    from {
      transform: scale(.5, .5);
      opacity: .5;
    }
  
    to {
      transform: scale(2.5, 2.5);
      opacity: 0;
    }
  } 
  
  .popup-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .popup {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;

  }
  
  .popup h1 {
    font-size: 25px;
    margin-top: 0;
  }
  
  /**
  .popup .closepop {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    z-index: 1;
  }
  
  
  .popup .closepop:hover {
    color: #f00;
  }
   **/

   .closepop {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .closepop:hover,
  .closepop:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .popup .ons-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .popup .ons-list ons-list-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .popup .ons-list ons-list-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
  }
  
  .popup .ons-list ons-list-item h2 {
    font-size: 18px;
    margin: 0;
  }
  
  .popup .ons-list ons-list-item p {
    font-size: 14px;
    margin: 0;
    color: #999;
  }
  
  
  .carousel-dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    position: absolute;
    bottom: 79px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .dot {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
  }
  
  .dot.active {
    background-color: #000;
  }
  .bleicon{
    font-size: 14px;
  }