.login-page {
  background-image: url(../img/blue.back.jpg) !important;
  background-repeat: no-repeat;
  background-size: 133% !important;
  background-position: center center; 
 
}

.content {
  position: relative;
  z-index: 1;
 
}

#login {
 
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 253px;
  height: 56px;
  border-radius: 56px;
  text-align: center;
  line-height: 50px;
  background-color: #0780B6;
  margin-top: 13px;
}





.username .text-input,
.password .text-input {
  color: #0780B6 !important;
}

.username .text-input::-webkit-input-placeholder,
.password .text-input::-webkit-input-placeholder {
  color: #0780B6 !important;
}

.username .text-input::-moz-placeholder,
.password .text-input::-moz-placeholder {
  color: #0780B6 !important;
}

.username .text-input:-ms-input-placeholder,
.password .text-input:-ms-input-placeholder {
  color: #0780B6 !important;
}

.username .text-input::-ms-input-placeholder,
.password .text-input::-ms-input-placeholder {
  color: #0780B6 !important;
}


.card-session{
  align-items: center;
  background-color: #fdfdfd !important;
  width: 228px;
  height: 64px;
  border-radius: 27px;
  text-align: center;
  margin-bottom: 10px !important;

}
  


.sessions{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.session-container{
  display: block;
  margin-top: 20px;
}

.card {

  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  margin: -1px;


}
.card-style{
  justify-content: center;
  align-items: center;
  background-color: #EFEFEF;
 /** padding: 51px;
 **/ margin: -1px;
  margin-top: -54px !important;
  margin-right: -82px !important;
  margin-bottom: -50px !important;
  margin-left: -82px !important;
  border-radius: 20px;
 /** height: 18px !important; **/
}


.content-home{
  width: 378px;
  margin-top: 199px !important;
  margin-bottom: auto;
  margin-left: 18px;
  margin-right: 100px;
  position: absolute;
}

#connectdto {
  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes move {
  from {
    left: 0;
  }
  to {
    left: 20px;
  }
}

.home-card-body{
margin-top: auto;


}

.icon-home-style{
  margin-left: -73px;


}
.icon-title-stlye{
  margin-left: 40px;
  margin-top: 192px !important;
  font-weight: bold;
 
  font-size: 18px;
  color: #0e4b64;
  
}
.modify-me{
  margin-bottom: 10px;
  margin-top: -10px;
  margin-left: 324px;
}

.second-span {
  display: none;
}

.first-span:focus + .second-span {
  display: block;
}




.card-session-body{

  margin-top: -4px;
}


.toolbar-background-home {

  background-color: #094860;
  box-shadow: none;
  
 
}

.splitter-list{
  background-color: transparent;
 
}
.gradientuser1{
  background: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
  width: 252px;
  height: 207px;
  margin-top: -24px;
  margin-bottom: 78px;
}
.gradientuser2{
  background: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
  width: 252px;
  height: 207px;
  margin-top: 183px;
  margin-bottom: 135px;
}
.frenelladd{

    
      margin-left: 16px;
      /* text-align: center; */
      font-size: 15px;
      font-family: ui-sans-serif;
      font-weight: bold;
      color: white;
      margin-top: 1px;
}


.toolbar-background-bl {
  background-color: transparent ;
  box-shadow: none;
}

.bluetooth-container {
  background-color: #cb3333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.bluetooth-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #3e8e41;
}

li {
  background-color: white;
  padding: 12px 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  list-style: none;
}

#bluetooth-icon {
  width: 50px;
  height: 50px;
  animation: pulse 2s ease-in-out infinite;
  transform-origin: center;
}


.device-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.device-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.device-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.device-name {
  font-size: 20px;
}


.icon-ble-scan {
  font-size: 50px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




#outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  padding-top: 50px;
}


#container {
  width: 600px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  padding-top: 50px;
}

.circle {
  border-radius: 50%;
  background-color: deepskyblue;
  width: 150px;
  height: 150px;
  position: absolute;
  opacity: 0;
  animation: scaleIn 4s infinite cubic-bezier(.36, .11, .89, .32);
}

.item {
  z-index: 100;
  padding: 5px;
}

.item img {
  width: 150px;
}

@keyframes scaleIn {
  from {
    transform: scale(.5, .5);
    opacity: .5;
  }

  to {
    transform: scale(2.5, 2.5);
    opacity: 0;
  }
} 



.home-page {
 
  background-color: #094860  !important;
}

.bluetooth-page {

  background-color: #094860 !important;
  background-image: linear-gradient(to bottom, #094860, #2587b8) !important;



}


.splitter-page {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(14,75,100,1) 35%, rgba(0,212,255,1) 100%);
}



.splitter-page
{background-color: #094860 !important;
  background-image: linear-gradient(to bottom, #094860, #2587b8) !important;

}
.menuPage-page{
  background-color: #094860 !important;
  background-image: linear-gradient(to bottom, #094860, #2587b8) !important;


}

/**
.menuPage-page{

  background: rgb(2,0,36)!important ;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(14,75,100,1) 35%, rgba(0,212,255,1) 100%) !important;


}

.splitter-page {

  background: rgb(2,0,36) !important;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(14,75,100,1) 35%, rgba(0,212,255,1) 100%) !important;


}

**/


.motors-page {

  background-color: #094860 !important;


}
.testpage-page {

  background-color: #F6F6F6 !important;


}


.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.popup {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  animation-name: popup-animation;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

@keyframes popup-animation {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.onsen-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.onsen-list li {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.onsen-list li img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
}

.onsen-list li h2 {
  font-size: 18px;
  margin: 0;
}

.onsen-list li p {
  font-size: 14px;
  margin: 0;
  color: #999;
}


.ble-img {
  animation: pulse 8s ease-in-out infinite;

}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.bottom-toolbar__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  background-color: #1387b3;
  border-top: none;
}

.bottom-toolbar__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  font-size: 10px;
  padding: 6px;
}

.bottom-toolbar__item.active {
  color: #000;
  font-weight: bold;
}

.bottom-toolbar__item ons-icon {
  font-size: 24px;
  margin-bottom: 2px;
}

.back-button__icon {
  margin-right: 6px;
  display: -webkit-inline-flex;
  display: inline-flex;
  fill: rgb(255 255 255);
  fill: rgb(255 255 255);
  -webkit-align-items: center;
  align-items: center;
  height: 100%;
  font-size: 32;

}
.container-motor {
  position: relative;
  width: 70px;
  height: 100px;
  background-color: #333;
  border-radius: 30px;
  padding-top: 100px;
  display: block;
    margin-left: auto;
    margin-right: auto;
}

.circle-mot{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 180px;
  height: 180px;
  background-color: #333;
  border-radius: 50%;
}
.small-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
}

#myRange {
  -webkit-appearance: none;
    appearance: none;
    width: 160%;
    height: 22px;
    /* height: 18px; */
    background-color: #b4b4b4;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-left: -156px;
    margin-top: 10px;
}

#myRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 33px;
  height: 33px;
  background-color: #535353;
  cursor: pointer;
}

#myRange::-moz-range-thumb {
  width: 28px;
  height: 28px;
  background-color:#626060;
  cursor: pointer;
}


.slider-container {
  width: 305px;
  height: 28px;
  margin-top: 81px !important;

}
.slider-background {
  position: absolute;
  top: 88px;
  left: 233px;
  width: 56px;
  height: 76%;
  background-color: #f8f8f8;
  border-radius: 30px;
  margin-left: 82px;
  
}


.slider {
  -webkit-appearance: none;
  width: 400%;
  height: 20px;
  background: transparent; /* make the slider transparent */
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  top: 30px;
  left: -54px;
  transform: rotate(270deg);
  transform-origin: right top 0;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #6B6A6A;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 40px;
  height: 40px;
  background: #9d9d9d;
  cursor: pointer;
}

.slider-value {
  position: absolute;
  left: calc(100% + 20px);
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  font-weight: bold;
}


.buttonContainer {
  position: relative;
  height: 200px;
  margin-top: 40px;
}

.button-m {
  display: block;
    width: 180px;
    height: 55px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    margin: 15px 0;
    margin-left: 50px;
}


.button-m:nth-child(1) {
  left: 0;
  top: 0;
  background-color: #ffffff;
  color: #000000;
}

.button-m:nth-child(2) {
  left: 0;
  top: 0;
  background-color: #ffffff;
  color: #000000;
 
}

.button-m:nth-child(3) {
  right: 0;
  top: 0;
  background-color: #ffffff;
  color: #000000;
}




.buttonContainer > .button-m:nth-child(1):hover {
  background-color: #00cc00;
}

.buttonContainer > .button-m:nth-child(2):hover {
  background-color: #00cc00;
}

.buttonContainer > .button-m:nth-child(3):hover {
  background-color: #cc0000;
}


.container-output{
  position: relative;
  height: 200px;
  margin-top: -350px;
  margin-left: 50px;
}

.box {
  /**width: 90px;
    height: 60px; **/
    
    font-family: 'Open Sans', sans-serif;
    font-weight: 1000;
    font-size: 35px;
    color: white;
 margin-left: 68px; 
 margin-bottom: 20px;
    
    /**margin-top: 20px; **/

    
}


@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');


.motor-interface{

  margin-left: 0px;
  margin-top: 109px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
}

.screen{

  padding-top: 5px;
}

.adjusting{
  margin: auto;
  margin-top: -39px;
  width: 19px;
  margin-left: 20px;
}

/** CAN interface**/
.card-style-can {
  text-align: center;
  width: 89%;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 226px;
  margin: 20px auto;
  background-color: #efefef;
  margin-bottom: 24px;
  height:245px;
}

.editch{
  margin-left: auto;
}


.card-can-body {
  padding: 20px;
  text-align: center;
}

.range-bar {
  -webkit-appearance: none;
  width: 112%;
  height: 20px;
  margin: 10px 0;
  background: linear-gradient(to right, #ccc, #ccc) no-repeat;
  background-size: 100% 100%;
  
  outline: none;
  opacity: 0.7;
  -webkit-transition: opacity .15s ease-in-out;
  transition: opacity .15s ease-in-out;
  margin-left: -6%;
}

.range-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 25px;
  
  background-color: #ffffff;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.range-bar::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
}


.range-bar::-webkit-slider-runnable-track {
  background: linear-gradient(to right, #6b6a6a 0%, #6b6a6a 5%, #d9d9d9 5%, #d9d9d9 100%);
  position: relative;
  z-index: 0;
}

.range-bar::-moz-range-track {
  background: linear-gradient(to right, #6b6a6a 0%, #6b6a6a 5%, #d9d9d9 5%, #d9d9d9 100%);
  position: relative;
  z-index: 0;
}



input[type="range"]::-webkit-slider-runnable-track {
  background: linear-gradient(to right, #000000 0%, #000000 calc((var(--value) / (var(--max) - var(--min))) * 100%), #cccccc calc((var(--value) / (var(--max) - var(--min))) * 100%), #cccccc 100%);
  position: relative;
  z-index: 0;
}

.range-values {
  display: flex;
  justify-content: space-between;
  margin-top: 3px;
  font-family: 'Open Sans', sans-serif;
		 font-weight: 978;
		 font-size: 14px;
		 color: #094860;
     margin-right: -47px;
     margin-left: -15px;

}

.range-value-text {
  margin-top: 44px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 978;
    font-size: 23px;
    color: #094860;
    margin-left: -68px;

}

.range-values .range-value {
  margin-right: 30px;
}

.out-can{

  color: #ffffff;
  margin-left: 11px;
  background-color: #094860;
  padding: 5px 10px;
  border: 2px solid #094860; /* add this line */
  border-radius: 10px; /* add this line */
  width: 10px;
  height: 16px;
}


/******CAN outputs***********/

.grey-row {
  background-color: #f5f5f5; /* set the background color to grey */
}

.white-row {
  background-color: #ffffff; /* set the background color to white */
}

.searchstyle{

  margin-left: 10px;
    margin-top: 38px;
    width: 248px;
    border-radius: 6px;
}


.button-srch{
  display: block;
  width: 133px;
  height: 50px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  border-radius: 17px;
  cursor: pointer;
  margin: 15px 0;
  margin-left: 50px;
  background-color: #094860;
  color: white;
}

.buttoptions{
  /* display: block; */
  width: 106px;
  height: 43px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 17px;
  cursor: pointer;
  /* margin: 15px 0; 
  margin-left: 54px;
  margin-right: -41px;*/
  margin: 0 10px;
  background: #898989;
}
.filterbuttonop{
  /* display: block; */
  width: 106px;
  height: 43px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 17px;
  cursor: pointer;
  /* margin: 15px 0; 
  margin-left: 54px;
  margin-right: -41px;*/
  margin: 0 10px;
  background: #898989;
}

.cardCanout{
  text-align: center;
    width: 93%;
    border-radius: 13px;
    height: 226px;
    margin: 20px auto;
    background-color: #efefef;
    margin-bottom: -6px;
    height: 333px;
}


.buttoptcontainer {
  display: flex;
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  margin: 7px auto;

}

@media screen and (max-width: 480px) {
  .buttoptcontainer {
    /**flex-direction: column; **/
    align-items: center;
  }
}

.buttonsendcan {
  display: block;
  width: 133px;
  height: 50px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  border-radius: 17px;
  cursor: pointer;
  margin: 15px 0;
  margin-left: 90px;
  background-color: #094860;
  color: white;
  align-content: center;
  margin-top: 64px;
}
#can-table {
  font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 10px;
    font-weight: bold;
}

#can-table td, #can-table th {
  padding: 10px;
}

#can-table tr:nth-child(even){background-color: #f2f2f2;}

#can-table tr:hover {background-color: #ddd;}

#can-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #094860;
  color: white;
}

.thstyle{
  font-size: 10px;
  font-weight: bold;
}

tr.small-row {
  height: 20px; /* set the height of the row */
  font-size: 12px; /* reduce the font size to fit the smaller row */
}


.table-container{margin-top: 15px;} 
.paginationbutton{
  background-color: #094860;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* width: 82px; */
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
