.background-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  filter: blur(5px);
}

.content {
  position: relative;
  z-index: 1;
}

#login{
  background-color: #ffffff; /* Green */
  color: rgb(255, 254, 254) !important;
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  width: 230px;
  height: 50px;
  border-radius: 25px;
  text-align: center;
  line-height: 50px;
}

#username{
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  padding: 10px;
  color: #ff0000;

}


.icon{
  animation: vibrate 3s ease-in-out 10s alternate infinite;
}


@keyframes vibrate {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-10px);
  }
  40% {
    transform: translateY(0);
  }
}

.card {
  
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background-color:#ffffff;
  padding: 20px;
 
}

.toolbar-background {
  background-color: #232a2d;
  box-shadow: none;
}

.toolbar-background-bl{
  background-color:#0e4b64;
box-shadow: none;
}
.bluetooth-container {
  background-color: #cb3333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.bluetooth-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #3e8e41;
}

li {
  background-color: white;
  padding: 12px 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  list-style: none;
}
#bluetooth-icon {
  width: 50px;
  height: 50px;
  animation: pulse 2s ease-in-out infinite;
  transform-origin: center;
}


.device-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.device-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.device-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.device-name {
  font-size: 20px;
}


.icon-ble-scan {
  font-size: 50px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




#outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  padding-top: 50px;
}


#container {
  width: 600px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  padding-top: 50px;
}

.circle {
  border-radius: 50%;
  background-color: deepskyblue;
  width: 150px;
  height: 150px;
  position: absolute;
  opacity: 0;
  animation: scaleIn 4s infinite cubic-bezier(.36, .11, .89, .32);
}

.item {
  z-index: 100;
  padding: 5px;
}

.item img {
  width: 150px;
}

@keyframes scaleIn {
  from {
    transform: scale(.5, .5);
    opacity: .5;
  }
  to {
    transform: scale(2.5, 2.5);
    opacity: 0;
  }
}



.home-page {
  background-color: #232a2d!important;
}

.bluetooth-page{

  background-color: #094860 !important;
  
  background-image: linear-gradient(to bottom, #094860, #2587b8)  !important;

}


.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.popup {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  animation-name: popup-animation;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

@keyframes popup-animation {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.onsen-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.onsen-list li {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.onsen-list li img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
}
.onsen-list li h2 {
  font-size: 18px;
  margin: 0;
}
.onsen-list li p {
  font-size: 14px;
  margin: 0;
  color: #999;
}


.ble-img{
animation: pulse 8s ease-in-out infinite;

}
@keyframes pulse{
  0%{
    transform: scale(0.9);
  }
  50%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
  }
}

  .bottom-toolbar__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    background-color: #1387b3;
    border-top: none;
  }
  .bottom-toolbar__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    font-size: 10px;
    padding: 6px;
  }
  .bottom-toolbar__item.active {
    color: #000;
    font-weight: bold;
  }
  .bottom-toolbar__item ons-icon {
    font-size: 24px;
    margin-bottom: 2px;
  }

  .back-button__icon {
    margin-right: 6px;
    display: -webkit-inline-flex;
    display: inline-flex;
    fill: rgb(255 255 255);
    fill: rgb(255 255 255);
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
    font-size: 32;

}

